body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    height: 750px;
}
ul{
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    
    
}
ul h2{
    display: inline-block;
    padding: 5px 20px;
}
ul li{
    float: right;
    list-style-type: none;
    
}
ul li a{
    color: rgb(109, 109, 109);
    text-decoration: none;
    padding: 20px 20px 0px 40px;
    display: inline-block;
    margin-top: 10px;
    
}
p{
    font-size:20px;
}
h1{
    font-size: 60px;
    color: rgb(129, 129, 129);
    
}
.orange{
    color: orange;
}
.intro{
    padding-top: 100px;
    font-size: 70px;
    color: rgb(90, 90, 90);
}
.header{
    padding-top: 2%;
    padding-bottom: 7%;
    padding-left: 6%;

}
.half-portion p{
    color: rgb(160, 160, 160);   
}

.half-portion{
    float: left;
    width: 50%;
}
.half-portion img{
    width: 80%;
}
.second-portion{
    float: right;
    width: 50%;
    margin-top: 4%;
    margin-right: 50px;
}
.about{
    padding: 30px 100px  80px 0px;
}
.text{
    width: 40%;
}

.second-portion img{
   width: 60%;
}

.link-button{
    text-decoration: none;
    background:linear-gradient(to right, orange,tomato);
    padding: 20px 50px;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.middle{
    padding: 4% 8%;
    background: url(images/shapes/7.png) no-repeat;
    background-size: 100% 100%;
}
.my-recipes{
    text-align: center;
}
.cards{
    margin-left: 7%;
}

.card{
   padding: 1.5%;
   float:left;
   width: 24%;
   margin-top: 1%;
   margin-left: 30px;
   margin-right: 30px;
   background-color: white;
   border-radius: 25px;
   box-shadow: 2px 2px 20px grey;
   
}


.card-img{
    width: 100%;
}
.all-stats{
    background-color: white;
    box-shadow: 2px 2px 10px grey;
    margin: 8%;
    text-align: center;
    border-radius: 15px;
    
}
.stats{
    display: inline-block;
    margin-left: 8%;
    margin-right: 8%;
    padding: 2%;
}
.stats h1{
    color: black;
}
footer{
    background-color:rgb(10, 10, 32);
    height: 550px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 1%;
}
footer h2{
    color: gray;
}
.footer-bottom{
    display: flex;
    justify-content: space-around;
    text-align: left;
    
}
